
    top: 5px;
    width: 18px;
    height: 18px;
    background: #38bdf8;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5);
}

.timeline-content {
    background: #1e293b;
    padding: 22px;
    border-radius: 15px;
    border-left: 3px solid #38bdf8;
}

.timeline-content span {
    color: #38bdf8;
    font-size: 13px;
    font-weight: bold;
}

.timeline-content h3 {
    color: white;
    margin: 7px 0;
}

.timeline-content p {
    color: #cbd5e1;
}
    .skills-box {
    max-width: 750px;
    margin: 35px auto 0;
    background: #1e293b;
    padding: 30px;
    border-radius: 20px;
}

.skill {
    margin-bottom: 25px;
}

.skill:last-child {
    margin-bottom: 0;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    color: #e2e8f0;
    font-weight: bold;
    margin-bottom: 8px;
}

.skill-name span:last-child {
    color: #38bdf8;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #0f172a;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background: #38bdf8;
    border-radius: 10px;
    animation: skillFill 1.5s ease;
}

.skill-progress.html {
    width: 85%;
}

.skill-progress.css {
    width: 75%;
}

.skill-progress.cpp {
    width: 55%;
}

.skill-progress.python {
    width: 45%;
}
        @keyframes skillFill {
    from {
        width: 0;
    }
}

</style>
